@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.search-form {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 4rem;
  gap: 1rem;
  border-radius: var(--border-radius-xl);
  border: 0.1rem solid var(--color-primary);

  @include respond-between(37.5em, 42.625em) {
    // от 601px до 682px
    flex-wrap: wrap;
    border-radius: var(--border-radius-md);
    padding: 2rem;
  }

  @include respond(phone) {
    flex-wrap: wrap;
    border-radius: var(--border-radius-md);
    padding: 2rem;
  }

  @include respond(xs-phone) {
    padding: 1rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    @include respond-between(37.5em, 42.625em) {
      // от 601px до 682px
      flex: 49%;
    }

    @include respond(phone) {
      flex: 0 0 49%;
    }

    @include respond(xs-phone) {
      flex: 100%;
    }
  }

  &__group--1 {
    flex: 0 0 30%;

    @include respond-between(37.5em, 42.625em) {
      // от 601px до 682px
      flex: 0 0 49%;
    }

    @include respond(phone) {
      flex: 0 0 49%;
    }

    @include respond(xs-phone) {
      flex: 100%;
    }
  }

  &__select {
    padding: 1.4rem 2.2rem;
    border-radius: var(--border-radius-sm);
    border: 0.1rem solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      .search-form__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__icon {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.6s;
    transform-origin: center;
  }

  &__list-box {
    background-color: var(--color-white);
    border-radius: var(--border-radius-sm);
    border: 0.1rem solid var(--color-primary);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 7rem;
    width: 100%;
    z-index: 1000;
    height: 0;
    opacity: 0;

    @include respond-between(37.5em, 42.625em) {
      // от 601px до 682px
      top: 6rem;
    }

    @include respond(phone) {
      top: 6.5rem;
    }
  }

  &__group.open {
    .search-form__list-box {
      height: auto; // или фиксированная высота
      opacity: 1;
      transition: all 0.3s ease;
    }

    .search-form__icon {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    list-style: none;
    padding: 0.6rem 2.2rem;
    margin: 0.3rem;
    border-radius: var(--border-radius-xs);
    transition: 0.3s;

    &:hover {
      background-color: var(--color-primary);
      cursor: pointer;

      .search-form__link {
        color: var(--color-white-base);
      }
    }
  }
  &__link {
    text-decoration: none;
    color: var(--color-font);
    transition: 0.3s;
  }
}
